<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='terminal_icon.ico') }}" type="image/x-icon">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/tufte.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" type="text/css" media="all">
</head>

<body>
    <header class="post-header">
        <nav>
            <a href="{{ url_for('index') }}">Estética @ online</a> / <span>{{ title }}</span>
        </nav>
        <hr>
    </header>

    <main>
        <article class="notebook-content">
            <header>
                <h1>{{ title }}</h1>
                <p class="subtitle">{{ subtitle }}</p> <footer class="date">{{ date }}</footer>
            </header>
            
            {{ content|safe }}
        </article>
    </main>

    <footer>
        <hr>
        <a href="{{ url_for('index') }}">Volver al inicio</a>
    </footer>
</body>
</html>
