<!DOCTYPE html>
<html lang="en">
<body>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    </head>
    <header class="post-header">
        <nav>
            <a href="{{ url_for('index') }}">Estética @ online</a> / <span>{{ title }}</span>
        </nav>
        <hr></hr>
    </header>
        <header>
            <h1>{{ title }}</h1>
            <h2>{{ subtitle }}</h2>
            <time class="date">{{ date }}</time>
        </header>
    <main>
        <article class="notebook-content">
            {{ content|safe }}
        </article>
    </main>
    <footer>
        <a href="{{ url_for('index') }}">Volver al inicio</a>
    </footer>
</body>
</html>

